@model IEnumerable<First_Project.Models.Category>
@{
    Layout = "~/Views/Shared/_ChefLayout.cshtml";
}





<h1>Caetgories</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <img src=@Url.Content("~/Image/" + item.ImageName)
                         asp-append-version="true" style="border-radius:20%;" width="100" height="100" />
                </td>
               
            </tr>
        }
    </tbody>
</table>
