@model List<UserRecipe>
@{

    Layout = "~/Views/Shared/_ChefLayout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Recipe
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Recipe.RecipeName
                </td>
                

            </tr>
        }
    </tbody>
</table>